<div class="box" style="border:1px solid #CCC; padding: 30px;">
<h3>We're sorry but your LinkedIn authentication has expired.</h3>
<h4><%= link_to 'Click Here To Connect With Linkedin', user_omniauth_authorize_path('linkedin', :return_to => "invites") %></h4>
</div>