<h1 class="knockout-title">Thank you for your recommendation!</h1>
 <!-- <div style="text-align:center; font-size: 18px;">For what would you like to recommend <%= @user.name %>?</div> -->

<%= render 'form' %>

