<center>
<h1 class="ap_blue" style="font-size:50px;">Editing Volunteer Action Plan</h1>
<h5>All fields are required</h5>
</center>

<%= render 'form' %>

<%= link_to 'Show', @volunteer_action_plan %>
