<!DOCTYPE html>
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  
  <body>

    <p> 
      Dear <%= @user.name %>,
    </p>     

    <p>
      A new resource for <%= @user.organization.title %> has been added to serve2mentor.com with the topic of <%= @fast_content.topic %>. 
    </p>
    
    <p>     
      It can be located under your Resources tab.
    </p>      

    <p>
      Thanks,
    </p>

    <p>
      The serve2perform Team
    </p>

  </body>

</html>
    
