---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Lake%20Forest%20Park,%20WA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Lake Forest Park\",\n               \"short_name\"
        : \"Lake Forest Park\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"King\",\n
        \              \"short_name\" : \"King\",\n               \"types\" : [ \"administrative_area_level_2\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Washington\",\n               \"short_name\" : \"WA\",\n               \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"Lake Forest Park, WA, USA\",\n
        \        \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 47.777420,\n                  \"lng\" : -122.2674950\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 47.73352380,\n                  \"lng\" : -122.31309510\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 47.75663270,\n
        \              \"lng\" : -122.28073260\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 47.777420,\n                  \"lng\" : -122.2674950\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 47.73352380,\n                  \"lng\" : -122.31309510\n               }\n
        \           }\n         },\n         \"types\" : [ \"locality\", \"political\"
        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 27 Mar 2013 20:52:23 GMT
recorded_with: VCR 2.4.0
