---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=98155&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"98155\",\n               \"short_name\"
        : \"98155\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Seattle\",\n               \"short_name\"
        : \"Seattle\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        \           },\n            {\n               \"long_name\" : \"Washington\",\n
        \              \"short_name\" : \"WA\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Seattle, WA 98155, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 47.78076890,\n
        \                 \"lng\" : -122.26175410\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 47.7320670,\n                  \"lng\" :
        -122.33041090\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 47.76124710,\n               \"lng\" : -122.30001830\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 47.78076890,\n
        \                 \"lng\" : -122.26175410\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 47.7320670,\n                  \"lng\" :
        -122.33041090\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 27 Mar 2013 20:49:09 GMT
recorded_with: VCR 2.4.0
