<%= stylesheet_link_tag "application/coach_action_plans", :media => "all" %>
<center>
  <h1 class="ap_blue" style="font-size:50px;">Editing Advisor Action Plan</h1>
  <h5>All fields are required</h5>
</center>

<%= render 'form' %>

<%= link_to 'Show', @coach_action_plan %> 
