<%= stylesheet_link_tag "application/coach_action_plans", :media => "all" %>
<% title "mentor action plan" %>
<center>
  <h1 class="headline">New Mentorship Action Plan</h1>
  <h5>All fields are required</h5>
</center>

<%= render 'form' %>
