<center class="headline knockout-title">Submit Support Request</center>
<p class="text-center">
  Please complete the following fields and a member of the 
  SERVE2PERFORM Support Team will contact you within the hour
</p>

<%= render 'form' %>
