<%= stylesheet_link_tag "application/pages", :media => "all" %>
<%= javascript_include_tag "testimonial-expander" %>
<% title "about" %>

<div class="board">

  <div class="sub-container">

    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/213909851" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <h3>Collisions</h3>
    <p>serve2perform® Collisions are designed to bring people together from all industries who would not normally cross paths to facilitate learning, connections, and partnerships. The collisions will help you learn how to impact your career, your company, and your community through the serve2perform® practice.</p>

    <h3>Certifications</h3>
    <p>serve2perform® Certifications will provide you with a full understanding of the scope of responsibility of each service opportunity and coach you on how to engage the serve2perform® practice to be effective and to get the most from experience.</p>

    <h3>Online Community</h3>
    <ul>
      <li>Get connected with all the members of the serve2perform® Community.</li>
      <li>Connect to members with serve2perform® Certification(s) as an Ambassador or in Mentoring, Board Service, Volunteerism, Job Shadowing.</li>
      <li>Get found by individuals and/or organizations looking for serve2perform® members to engage in Mentoring, Board Service, Volunteerism, etc.</li>
      <li>Seek and share knowledge with your fellow members.</li>
      <li>Create collaboration circles to facilitate online collisions with your fellow members.</li>
      <li>Launch private groups for your company to further connect your teams.</li>
    </ul>

    <h3>On Demand Learning</h3>
    <p>serve2perform® On Demand is a menu of learning modules specifically designed to help you acquire and develop additional serve2perform® skills and attributes that are essential to your success.
    <br><br>
    This valuable resource allows you to learn online from industry experts where you want and when you want through pre-recorded videos.</p>


    <h3>Testimonials</h3>
    <div class="testimonial-float">
    <div class="blurb">"A unique, convenient resource to build leadership skills through a variety of interactions and online experiences"</div>
    <div class="name">– Teresa Walch, Boys and Girls Clubs of America</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"Serve2perform is a unique, convenient resource to build leadership skills through a variety of interactions and online experiences. The platform allows the user to select from a myriad of online skill building classes, receive one-on-one mentoring or be part of an online learning community. Users receive coaching and learn from top tier leaders who without the Serve2perform platform would not be accessible to most users. I have personally had the opportunity to utilize the resource and I am impressed with the ease of use and the offerings available to increase leadership skills, learn from experts and have access to the latest publications that have varied across multiple disciplines. Some of the most helpful articles and or publications have focused on economic impact on business, leadership development, recruitment and retention along with thought leadership articles on cutting-edge strategies in business transformation. I would recommend the Serve2perform as to leaders or emerging leaders that are wanting to enhance their own skill set or that of their team."</p>
    </div>
    <div class="testimonial-float">
    <div class="blurb">"I have received much more than I could have ever given"</div>
    <div class="name">– Tami Allensworth, J. B. Hunt</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"As the co-founder and current President of J. B. Hunts first employee resource group – GROW, which stands for growing and retaining outstanding women, I thought I was really giving back to help guide and mentor our future leaders. What I quickly realized was I have received much more than I could have ever given. The growth that I have seen in myself from being part of GROW has been remarkable. The ability to speak in large settings, networking and building some amazing relationships, which will continue to grow over time. I am such a believer in giving back to your community that I am now helping my 13 year old daughter in her quests to do the same."</p>
    </div>
    <div class="clear"></div>
    <div class="testimonial-float">
    <div class="blurb">"I have gained a reputation of someone who will get the job done"</div>
    <div class="name">– Marlana Scott, Freddie Mac</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"The Serve2perform philosophy has made a lasting impression on me. I serve in my community, church, and ERG, but I never would have thought to take those “ideas” and apply to my career. I have looked at each opportunity to engage with my peers or upper management as a way to help them, but also help myself through gaining additional knowledge. It has opened me up to sponsorship. I have gained a reputation of someone who will get the job done and someone who is reliable. Serve2perform refreshed my commitment to my ERG and also my career. Thank you!"</p>
    </div>
    <div class="testimonial-float">
    <div class="blurb">"I<span>f embraced by an organization, it can serve as the launching pad for transformational growth and success</span>"</div>
    <div class="name">– Steve Percival, Washington Regional Medical Center</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"I have been managing/leading people in some form or fashion since 1977. It started in college when I was elected president of my fraternity, where the service teachings of the fraternity helped solidify the groundwork of my future originally laid by my mother. What formed in me early on through my experiences was a solid belief that each one of us has an obligation to leave the world in a better condition than they found it. Through lots of trial and errors, this boiled down to the development of my guiding philosophy of principled leadership and service. Leading by example, teaching values based behavior and always looking for ways to give back and help people become better are my fundamental life tenets. I have found this to be an amazingly successful and fulfilling leadership strategy. It is effective whether leading fraternity brothers, union workers, business professional or volunteer organizations. <br /><br /> Then I bumped into you, Performance GPA and the principles embodied in the serve2perform mindset. As I read the book, listened to you, and thought about what was behind the words, I felt like I was talking with myself, only you were saying it much more articulately. As I read the book, I saw every element of the things I hold dear in my own leadership philosophy and firmly believe, if embraced by an organization, can serve as the launching pad for transformational growth and success. Based on my own leadership experiences across for profit, not for profit businesses, unionized and non unionized employees or volunteers, leading this way is THE only way to create powerful, sustainable organizational success, in addition to creating the most robust, talented, and mission driven workforce possible. And the best of all, those captured in the essence of the purpose-service-leadership groundswell will be forever changed and also committed to leaving the world better than they found it, using their individual talents and skills to leave their indelible mark on the fabric of America. It just doesn't get much better than that."</p>
    </div>
    <div class="clear"></div>
    <div class="testimonial-float">
    <div class="blurb">"This new understanding of skill building quickly becomes a way of life"</div>
    <div class="name">– David Collins, Walmart</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"Serve2perform initially became understood by me as a leader - and delivered by me to my managers as ‘yet another’ good leadership philosophy. After a short time of embracing the principles, and truly adopting the approach, it has now become a way of life! Furthermore, through ongoing practice of the precepts in the book, the act of serving to perform has evolved into an ongoing, literal definition of effort, awareness, and challenge to myself and others. <br /><br /> The simplicity of the concept is the key to its success……. <br /><br /> Understanding, adopting, and modeling the basic action of serving others is the first step. What follows however is the really big win….. Beyond the natural blessing and realized value that occurs when serving others in any capacity, what quickly becomes very well understood and apparent, is that every service opportunity also yields applicable impact on performance in other areas of life, including personal and professional development. <br /><br /> From the simplest to the most complex acts of service, I am now acutely aware that a learning will occur through the experience each and every time I serve - which will translate to a behavior change - helping me as a leader in other areas of my life. Through any individual act of service, my skills will be (and actually have been) enhanced, in a variety of areas including……self-awareness of the need to seek the diverse input of others, active listening skills, public speaking, boardroom influence, discernment, facilitation skills, organization of thought, collaboration, and others too numerous to list. This new understanding of skill building quickly becomes a way of life, an ongoing challenge, and a perpetual cycle to energetically seek opportunities to serve - then identify the forthcoming yield in my professional, personal, and spiritual life."</p>
    </div>
    <div class="testimonial-float">
    <div class="blurb">"Accelerate your performance through service"</div>
    <div class="name">– Dr. Todd Kitchen, Northwest Arkansas Community College</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"The Serve2perform concept has allowed me to maximize opportunities and connections that have been untapped for years. Serve to perform teaches you how to accelerate your performance through service – in my case, it was simply a matter of leveraging my existing network for opportunities for growth and exposure to new knowledge that has helped me improve and grow as a leader. If you're looking to take your leadership to the next level – it begins with this concept!"</p>
    </div>
    <div class="clear"></div>
    <div class="testimonial-float">
    <div class="blurb">"Stay linked to each-other whether we need assistance or a point-of-view"</div>
    <div class="name">– Virgil Guerra, Tyson</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"The server2perform platform has been useful to me for several reason… the one I like the most is “knowledge transfer” and the gold-star is not because we are moving but because one of us believe the information is important and it is shared. Another reason is “connection”. The platform helps all members of this community to stay linked to each-other whether we need assistance or a point-of-view. Last, this quote is not my but after I heard it the first time, I frequently use it: “The answer is in the room”… The server2perform platform provides the room among all of us to continue finding answers to our concerns."</p>
    </div>
    <div class="testimonial-float">
    <div class="blurb">"I have experienced a high level of personal and professional growth"</div>
    <div class="name">– John Kelly, The Kraft Heinz Company</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"I wanted to take a minute to thank Dr. Adam Arroyos and the GPA team for providing powerful insights via their Executive Coaching Model. Their step-by-step process provided me with flexible tools I was able to use and adapt in order to gain alignment with key leaders in my organization. Their program also allowed me to take current initiatives and better calibrate them across multiple working groups – and at the appropriate communication level - in order to achieve success. I have experienced a high level of personal and professional growth using Adam’s strategies, and am very appreciative as I achieve new heights and tackle new challenges."</p>
    </div>
    <div class="clear"></div>
    <div class="testimonial-float">
    <div class="blurb">"I enjoy the rich discussion"</div>
    <div class="name">– Mark Mast, General Mills</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">"I recently led serve2perform group and was blown away with the many capabilities! The ability to find a mentor, volunteer opportunities and internships was particularly appropriate for the group of younger students that were in our cohort. Most of all I enjoy the rich discussion that can come out of insightful articles that our group members shared with each other."</p>
    </div>
    <div class="testimonial-float">
    <div class="blurb">"Exceeded my expectations"</div>
    <div class="name">– Jenny Carithers Price, Arvest</div>
    <div class="more-button">Click to Read More</div>
    <p class="quote">“I had the honor of attending the first serve2perform Collision Event through GPA, and I must say it exceeded my expectations. It provided an opportunity to network with other leaders whom I otherwise may not have interacted (some within my own organization). Through a unique lens, the event focused on the importance of communication and offered a reminder that being a leader is a privilege… we must remember the power of our influence on those around us at all times. I would recommend this event to leaders of all ages and at all levels within an organization. The GPA team definitely lived up to their “grandslam performance” expectations.”</p>
    </div>
    <div class="clear"></div>

  </div>

</div>