<div class="row">
  <div class="span12">
    <h2>
      companies page
    </h2>
    <h3>
      Below is a list of all of our active companies
    </h3>

    <div id="org_vsas">
      <%@organization = Organization.where(:active_license => true)%>

      <% Array(@organization).each_with_index do |org, i| %>
        <div class="vsa result">
          <div class="head" style="height:40px;">
            <h6>
              <%= link_to org.title, organization_path(org.slug), :style => "font-weight:bold;" %>
            </h6>
          </div>
          <div>
            <p style="font-size:12px;">
            <%= org.city%>, <%= org.state %>
            </p>
          </div>
          <div class="avatar_result">
            <%= link_to image_tag(org.avatar.url(:thumb), :class => "org-image"), organizations_path(org) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
