<%= stylesheet_link_tag "application/pages", :media => "all" %>
<%= javascript_include_tag "application/tabs" %>

<div class="board video-board">
  <h2 class="knockout-title">On Demand Learning</h2>

  <div class="video-item">
    <h3 class="video-title">Introduction to serve2perform</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215035937" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">About serve2mentor.com</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215045439" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>  

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Give and Grow</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215048441" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Social Capital</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215049928" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Skill Building</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215052462" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div> 

  <div class="video-item">
    <h3 class="video-title">Coaching and Feedback</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215847080" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Job Shadowing and Business Savvy</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215848055" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div> 

  <div class="video-item">
    <h3 class="video-title">Digital Communications</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215851814" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div> 

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Diverse Team Engagement</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215856714" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div> 

  <div class="video-item">
    <h3 class="video-title">Leadership Development and Board Service</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/215890628" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div> 

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Gain business management skills and experience through Volunteer Board Service</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218552754" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Drive Fear Out of Your Organization</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218552366" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Grow your Non-Positional Influence through Service</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218560138" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Grow your Productivity through Collaboration</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218836811" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Learn to Teach as a Mentor</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218838510" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Develop Your Capacity through Intentional Networking</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218882113" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Learn to Onboard Employees effectively through Job Shadow Sponsorships</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218883719" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Gain Project Management experience through Volunteer Coordination Roles</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218885101" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Grow your Self Awareness by serving as a Mentee</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218886415" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Develop your Speaking/Communication Skills through Volunteer Speaking Engagements</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/218887562" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Open Thinking</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/226064013" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Unlock Opportunities through Networking</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/226072665" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Don't Fear Negotiation</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/227539908" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">Women and Negotiation</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/227542790" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">Connect with a Mentor on myserve2eprform.com</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/228142189" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">SERVE2PERFORM THE PODCAST EPISODE ONE -WHITE PRIVILEGE</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/eaIlaTQIoM4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">EPISODE TWO - WHITE PRIVILEGE FROM A WHITE MALE'S PERSPECTIVE</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wM-YG2XefzI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">EPISODE THREE - LATINXNA IMPACT ON NWA COMMUNITY</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Kh_9xSGmwoo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">EPISODE FOUR - SERVANT LEADERSHIP W/ DAVID COLLINS</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iLOwWiw4ASw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">EPISODE FIVE - WHO SERVE2PERFORM IS WITH ADAM ARROYOS</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/qBd_4rFse9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">EPISODE SIX - LATINXNA FUTURE GOALS WITH LOUIS GRETH AND MALLORY MAGIE</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4MQZdW6W_v0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="video-item">
    <h3 class="video-title">EPISODE SEVEN - VIRTUAL COACHING</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AYlHdsHNwhA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>

  <div class="video-item">
    <h3 class="video-title">EPISODE EIGHT - SERVE2MENTOR</h3>
    <div class="video-byline">via serve2perform</div>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MHL4Rm6ls1U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="clear"></div>
  
</div>


<!--
<div class="board tabs video-board" id="ondemand-tabs">
  <div class="tabs-header">
    <div class="tab-container">
      <div class="tab active-tab ripple-button" data-tab="examples" data-index="0">
        Examples
      </div>
      <div class="tab ripple-button" data-tab="modules" data-index="1">
        Modules
      </div>
      <div class="tab-indicator"></div>
    </div>
  </div>

  <div class="tab-panel" data-tab="examples" data-index="0"> 
    
  </div>

</div>
-->

