<%= stylesheet_link_tag "application/pages", :media => "all" %>
<% title "thought leadership" %>
<div class="" id="register-pde">
  <div class="row">
    <div class="span12">
      <h1 class="page title">Learning Marketplace</h1>
      <h4 class="page title-sec" id="selectPath">Select from the Following</h4>
      <div  id="purchasePDE">
        <h2>Books</h2>
        <h3>Performance<i>GPA</i><sup>&reg;</sup></h3>
        <h4><em>Achieving High Performance Through Service by Dr. Adam Arroyos</em></h4>
        <a href="http://www.amazon.com/PerformanceGPA-Achieving-Performance-Through-Service/dp/1478714417/ref=sr_1_3_title_1_har?s=books&ie=UTF8&qid=1389388411&sr=1-3&keywords=performance+gpa" target="_blank">Click here to purchase online.</a>
      </div>		
      <div id="couponPDE">
        <h2>White Papers</h2>
        <h3>serve2perform<sup>&reg;</sup>.com</h3>
        <h4><em>A Pragmatic Solution to the Skills Gap by Dr. Adam Arroyos</em></h4>
        <a href="/docs/White_Paper.pdf" target="_blank">Download the Whitepaper</a>
      </div>

    </div>


  </div>
</div>
