<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
      You have been invited by <%= @user.name %> to join serve2perform; where you can collaborate with collegues, learn skills from peers, and teach newfound skills to others!
    <p>

    <p> 
      Go to www.serve2mentor.com and sign up today. 
    </p> 
         
    <p>
      Thanks,
    </p>
        
    <p>
      The serve2perform Team
    </p>

  </body>
</html>
   