<%= stylesheet_link_tag "application/mentor_action_plans", :media => "all" %>
<h1>Editing mentor_action_plan</h1>

<%= render 'form' %>

<%= link_to 'Show', @mentor_action_plan %> |
<%= link_to 'Back', mentor_action_plans_path %>
