<div class="row" id="new_opp">
  <div class="span12" >
    <% title "view and award badges" %>
  </div>
</div> 

<div class="row">
  <div class="span12">

      <%= link_to 'View Badges', recognitions_path, :class => 'btn btn-large btn-primary create roundedge' %>
      <%= link_to 'Award a Badge', find_recognitions_path, :class => 'btn btn-large btn-primary create roundedge' %>

  </div>
</div>

