// Place all the styles related to the Feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feedback {
	margin-top: 20px;
	margin-bottom: 20px;
}

.testimonial-button{
	height: 50px;
	padding-left: 375px;
}

#new_testimonial{
	margin-bottom: -20px;
}