@import "master";

#inquiry_link_title{
	width: 90%;
}

#inquiry_ext_link {
	width: 90%;
	height: 20px;
}

#inquiry_emb_link {
	width: 90%;
	height: 75px;
}

#inquiry_idea_help {
	width: 90%;
}

.idea-header1 {
	font-size: 50px;
	font-weight: normal;
	color: #2c9a47;
}

.idea-header2 {
	font-weight: normal;
	font-size: 50px;
	color: #E67E22;
}

.best-practice-header {
  font: $display1;
  color: $primary-color;
  padding-bottom: 10px;
  line-height: normal;
} 

#inquiry_title, #inquiry_body{
  width: 50%
}

.bp-btm-buttons {
	font-size: 17px;
	padding-bottom: 12px;
}

span.help-inline {
		display: none;
	}
	.error {
		span.help-inline {
			display: block;
		}
		.chzn-choices {
			border: 1px solid #b94a48;
		}
	}

.inquiries.new{
	.btn-primary{
		margin-left: 0;
	}
}

.inquiries.show{
  .container{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
  .user-chip{
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: 36px;
    left: -16px;
    padding: 16px;
    position: relative;
    text-decoration: none;
    top: -16px;
    transition: all $fast;
    width: 100%;
    &:hover{
      background-color: $nutral-color2;
    }
    .picture{
      border-radius: 50%;
      display: block;
      height: 36px;
      overflow: hidden;
      position: absolute;
      width: 36px;
      img{
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
      }
    }
    .name{
      color: $primary-color;
      line-height: 36px;
      padding-left: 56px;
    }
  }
  .column{
    box-sizing: border-box;
    display: block;
    float: left;
    margin-bottom: 16px;
    position: relative;
    .title{
      color: $primary-color;
      font: $headline;
      padding-bottom: 8px;
    }
    .info{
      color: $nutral-color3;
      font: $caption;
      line-height: 16px;
      padding-bottom: 8px;
      .primary-color{
        color: $primary-color;
      }
    }
    .like{
      color: $primary-color;
    }
    .body{
      text-align: left;
    }
    .subhead{
      color: $nutral-color4;
      font: $subhead;
      font-weight: bold;
      padding: 8px 0;
    }
  }
  .field{
    textarea{
      box-sizing: border-box;
      padding: 8px;
      width: 100%;
    }
  }
}

/* desktop ================================================== */

@media (min-width: $desktop-min) {

  .inquiries.show{
    .column{
      float: left;
      padding-right: 16px;
    }
    .column.small{
      width: 24%;
    }
    .column.large{
      width: 70%;
    }
  }

}


/* tablet & phone ================================================== */

@media (max-width: $tablet-max) {

  .inquiries.new{
    .span7{
    	width: auto;
    }
  }

  .inquiries.show{
    .column{
      float: none;
      padding-right: 0;
      width: 100%;
    }
  }

}