.speaker-signups{
	width: 510px;
	clear: left;
	float: left;
	margin-right: 0px !important;
}

.speaker-tease{
	width: 430px;
	clear: right;
	float: left;
	margin-bottom:12px; 
}

.speaker-testimonials{
	clear: both;
}

.download_pdf_button{
	display: inline-block;
	background-color:#006699; 
	margin:6px; 
	padding:12px; 
	width:140px; 
	text-align:center;
}
.speaker-video{
	padding-top: 10px;
}