<div class='modal hide fade in' id='get_satisfaction'>
  <div class='modal-header'>
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Tell us what you think!</h3>  
  </div>

  <div class='modal-body'>
    <div id="getsat-widget-5270" ></div>
    <script>
      $.getScript("https://loader.engage.gsfn.us/loader.js", function(){
         if (typeof GSFN !== "undefined") { GSFN.loadWidget(5270,{"containerId":"getsat-widget-5270"}); }
      });
    </script>
  </div>
</div>
